body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
    margin: 0;
    padding-top: 140px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(135deg, #007bff, #ff5733);
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.code-block {
  background-color: #272822; /* Dark gray background */
  color: #f8f8f2; /* Light gray text */
  font-family: "Menlo", "Monaco", monospace; /* Xcode code font */
  padding: 20px;
  border-radius: 5px;
  margin: 20px 0;
  overflow-x: auto; /* Allow horizontal scrolling */
}

/* My apps page */
hr.rounded {
  border-top: 2px solid #bbb;
  border-radius: 5px;
  margin: 0 50px 30px 50px;
  /* margin-bottom: 40px; */
}

.title-apps {
  text-align: center;
  color: #282727;
}

.wrapper {
  display: flex;
  min-height: 88vh;
  flex-direction: column;
  justify-content: space-between;
}

.app-card img {
  display: block;
  max-width: 25em;
  border-radius: 8px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* Privacy page */
.copywrites h1 {
  text-align: center;
  font-size: 32px;
  color: #ff5733;
}

.copywrites p {
  padding-bottom: 0;
  margin-bottom: 0;
}

.copywrites a {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  opacity: 0.5;
}

.copywrites:hover a {
  opacity: 0.7;
  text-decoration: none;
}

/* Code Snippet */
.code-line {
  display: block;
  white-space: pre-wrap;
}

.keyword {
  color: #f92672; /* Pink */
}

.variable {
  color: #a6e22e; /* Green */
}

.number {
  color: #ae81ff; /* Purple */
}

.comment {
  color: #75715e; /* Gray */
}

.operator {
  color: #f8f8f2; /* Light gray */
}

.print {
  color: #66d9ef; /* Blue */
}

.type {
color: #4ec9b0;
}

.string {
color: #ce9178;
}

/* Code Snippet */

.prompt {
  padding: 0 60px 0 60px;
}

.prompt p {
  font-style: italic;
  font-size: medium;
  color: #625dc5;
}

.card {
    display: flex;
    align-items: center;
}

.avatar {
    flex: 0 0 auto;
    margin-right: 20px;
}

.avatar img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.navbar {
    padding: 10px 0;
    text-align: right;
    position: relative;
    top: 45px;
  }

  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
  }
  
  .nav-links li {
    display: inline-block;
    margin-left: 20px;
  }
  
  .nav-links li:first-child {
    margin-left: 0;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }
  
  .nav-links li a:hover {
    text-decoration: none;
    opacity: 0.7;
  }

.intro {
    flex: 1;
}

.intro h1 {
    margin: 0;
}

.intro p {
    margin: 10px 0 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    color: #007bff;
}

article {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  article img {
    display: block;
     max-width:100%;
     max-height:500px;
     width: auto;
     height: auto;
    border-radius: 8px;
    margin: 0 auto;
  }
  
  article h2, h3 {
    font-size: 24px;
    color: #ff5733;
  }
  
  article p {
    font-size: 20px;
    line-height: 1.5;
    color: #555;
    font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 400;
    text-align: justify;
  }

  .support {
    font-size: 22px;
    line-height: 1.5;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
    text-align: justify;
    font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
  }
  
  article a {
    color: #ff5733;
    text-decoration: none;
  }
  
  article a:hover {
    text-decoration: underline;
  }

  figcaption {
  padding-top: 25px;
  font-size: 14px;
  color: #888;
  text-align: center;
}

.captions {
    text-decoration: none;
    color: #888;
}

.captions:hover {
    opacity: 0.7;
    text-decoration: none;
  }

  .copywrites {
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(135deg, #ff5733, #007bff);
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
  }

/* Media queries for tablets (e.g., iPads) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* Adjustments for tablets */
    .container {
      max-width: 90%; /* Adjust max-width to fit tablet screens */
    }
    body {
      padding-top: 200px;
    }

    header {
      display: block;
      padding: 0;
  }
  .navbar {
    padding: 10px 0;
    text-align: right;
    top: 0;
  }

  .wrapper {
    min-height: 82vh;
  }

  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
  }

  }
  
  /* Media queries for phones (e.g., iPhones) */
  @media only screen and (max-width: 767px) {
    /* Adjustments for phones */
    .container {
      max-width: 100%; /* Adjust max-width to fit phone screens */
      padding: 0 10px; /* Adjust padding for smaller screens */
    }
    body {
      padding-top: 120px;
    }

    header {
      display: block;
      padding: 0;
  }
  .navbar {
    padding: 10px 0;
    text-align: center;
    top: 0;
  }

  .app-card img {
  max-width: 15em;
  }

  h2, h3 {
    font-size: 20px;
  }

  article p {
    font-size: 16px;
  }

  p{
    font-size: 18px;
  }

  .prompt {
    padding: 0 20px 0 20px;
  }

  .code-block {
    padding: 0;
    margin: 0;
  }
   

  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .intro h1 {
    font-size: large;
  }

  .intro p {
    display: none;
  }

  }
  
  /* Media queries for large screens (e.g., MacBooks) */
  @media only screen and (min-width: 1200px) {
    /* Adjustments for large screens */
    .container {
      max-width: 1200px; /* Adjust max-width for large screens */
    }
  }